#canvas {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

#controls-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  width: auto;
  align-items: right;
}

button {
  height: 30px;
  width: 100px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  background-color: black;
}

button:hover {
  color: black;
  background-color: #00baff;
}

button:focus {
  border: 1px solid #00baff;
}

#colors {
  margin: auto;
  top: 10px;
  display: flex;
  gap: 5px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.color {
  border-radius: 50px;
  width: 30px;
  height: 30px;
}

.selected {
  outline: 1px solid black;
}
.red {
  background-color: red;
}

.blue {
  background-color: #001c9b;
}

.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}

.black {
  background-color: black;
}

.black.selected {
  outline: 1px solid blue;
}

.eraser {
  background-color: white;
  outline: 0.5px grey solid;
}
